.dashboard {
  padding: 20px;
  background-color: #f9f9f9;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

.userName {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.section {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;  /* Ensures items wrap when screen size reduces */
}

.earningsSection {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 2rem;
  padding: 3rem;
}

.earningBox {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #ffc6a0;
  border-radius: 1rem;
  font-size: 1.5rem;
  width: 60%;
  max-height: 5rem;
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;  /* Centers the content vertically */
  justify-content: space-around;  /* Ensures balance between number and title */
}

.earningBox .earnLeft {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;  /* Centers the content horizontally */
}

.earningBox .earnRight {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.earningBox {
  text-align: center;
  background: linear-gradient(90deg, #FFD700, #FF8C00);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid gray;
  width: 90%;
  border-radius: 2rem;

  h4 {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  p {
    font-size: 2rem;
    margin-bottom: 0.2rem;
  
    font-weight: bolder;

  }
}

.earningBox:hover{
  border: 1px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.profileImage{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-top: 0.65rem;
  border: 1px solid black;
}

.userInfo{
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 0;
  margin-bottom: 2rem;
}

.userName{
  font-size: 3rem;
  margin-bottom: -0.5rem;
}

@media (max-width: 600px) {
  .section {
    flex-direction: column;  /* Stacks elements vertically on small screens */
  }

  .earningBox {
    max-height: 7rem;
  }

  .earningsSection h3 {
    font-size: 1.5rem;
  }

  .earningsSection {
    padding: 2rem;
  }

  .dashboard {
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {

  .section{
    width: 100%;
  }
  
  .earningsSection{
    margin-top: -10px;
  }
  .earningBox {
    max-height: 7rem;
    width: 90%;
    margin-bottom: 0.6rem;
  
  }

  .dashboard{
    margin-top: 4rem;
  }

  .userInfo{
    gap: 0;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}
