.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
  color: #ff6523; /* Gold color for crown */
  margin-bottom: 10px;
  margin-top: 5rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #333;
  color: white;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #d4af37; /* Gold border */
}

.defaultAvatar {
  width: 40px;
  height: 40px;

  background-color: #ccc;
  border-radius: 50%;
  font-size: 1.5rem;
  color: white;
  align-self: center;
  justify-self: center;
}

.loader {
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
  color: #555;
}


@media(max-width:768px){
  .header{
    font-size: 2rem;
  }

  .title{
    font-size: 2rem;
  }
}