/* Leaderboard.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #ff8c00, #FFD700);
    padding: 20px;
  }
  
  .header {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    text-align: center;
 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -2rem;
 
    h1{
        background: linear-gradient(to right, #004197, #00285d);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
 }
  
  
  .table {
    width: 90%;
    max-width: 800px;
    border-collapse: collapse;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .table th,
  .table td {
    padding: 15px 20px;
    text-align: center;
    color: black;
    border-bottom: 1px solid rgba(53, 53, 53, 0.2);
  }
  
  .table th {
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .table tr:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  
  .table tbody tr:last-child td {
    border-bottom: none;
  }
  
  .loader {
    font-size: 1.5rem;
    color: white;
    text-align: center;
  }
  

  @media (max-width:786px){
    .header{
        font-size: 1rem;
        margin-bottom: -1rem;
        margin-top: -1rem;
    }


  }